*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}



body{
    font-family: Arial, sans-serif;
    height: 100vh;
    background: linear-gradient(135deg,#667eea,#764ba2);
    display: flex;
    justify-content: center;
    align-items: center;
}

.container{
    background: rgba(255,255,255,0.15);
    width: 350px;
    padding: 30px;
    border-radius: 15px;
    box-shadow: 0,4px,20px,rgba(0,0,0,0.2);
    text-align: center;
    backdrop-filter: blur(12px);
    -webkit-backdrop-filter: blur(12px);
    border: 1px solid rgba(255,255,255,0.3);
    box-shadow: 0 8px 32px rgba(0,0,0,0.2);
    animation: fade 1s ease-in-out;
}

.container h2 {
    margin-bottom: 20px;
}

input{
    width: 100%;
    padding: 12px;
    margin: 10px,0;
    border: 1px,solid ,#acc;
    border-radius: 5px;
    font-size: 16px;
}

input:focus {
    outline: none;
    border-color: #667eea;
    box-shadow: 0 0 10px rgba(102,126,134,0.6);
    transition: o.3 ease;
}

button {
    width: 100%;
    padding: 12px;
    border: none;
    border-radius: 5px;
    background-color: #667eea;
    color: white;
    font-size: 18px;
    cursor: pointer;

}

button:hover{
    background-color: #5567d8;
}

.signup-link {
    margin-top: 15px;
    font-size: 14px;
}

.signup-link a{
    color: #764ba2;
    text-decoration: none;
}

/* Fade-in animation*/
.container{
    animation: fade 1s ease-in-out;
}

@keyframes fade{
    0% {
        opacity:0 ;
        transform: translatey(0);
    }
}

/*Button hover animation*/
button{
    transition: 0.3s ease;
}

button:hover {
    transform: scale(1.05);
    box-shadow: 0 0 10px rgba(102,126,234,0.8);
}

/* Mobile Responsible*/
@media (max-width: 480px) {
     .container{
        width: 90%;
        padding: 20px;
     }


input {
    padding: 10px;
    font-size: 14px;
}

button {
    padding: 10px;
    font-size: 16px;
}
}

/* popup style*/
.popup {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(0,0,0,0.5);
    display: none;
    justify-content: center;
    align-items: center;

}

.popup-box {
    background: white;
    padding: 25px;
    width: 280px;
    border-radius: 15px;
    text-align: center;
    box-shadow: 0 4px 15px rgba(0,0,0,0.2);
    animation: pop 0.3s ease;
}

@keyframes pop{
    from{ transform: scale(0.7);}
    to{transform: scale(1);}
}

.popup-box button{
    margin-top: 15px;
    padding: 10px 20px;
    border: none;
    background: #6c63ff;
    color: white;
    border-radius: 10px;
    cursor: pointer;
} 

.popup-content {
    background: white;
    padding: 20px;
    border-radius: 10px;
    width: 300px;
    text-align: center;
}

.close-btn {
    color: blue;
    cursor: pointer;
    margin-top: 10px;
}

.password-box {
    position: relative;
}

.password-box span {
    position: absolute;
    right: 10px;
    top: 50%;
    transform: translateY(-50%);
    cursor: pointer;
    font-size: 18px;
}